<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>One VCL to rule them all - Luke Blaney</title>

		<meta name="description" content="A presentation about writing Varnish config to work across multiple environments">
		<meta name="author" content="Luke Blaney">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/ftlabs.css" id="theme">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>
	<div class='pointer'></div>

		<div class="reveal">
			<div class="slides">

				<section class='logo-title dark-background' data-background='css/theme/ftlabs_images/purple-blue-2.jpg'>
					<h1>One VCL to rule all environments</h1>
					<h3>Write it once, use it everywhere.</h3>
					<p>
						<small>by Luke Blaney, FT Labs (<a href="http://twitter.com/lucas42">@lucas42</a>)</small>
					</p>
				</section>

				<section>
					<h2>default.vcl</h2>
					<p>Great to get things up and running straight out of the box.</p>
					<p>Just specify your backends and away you go</p>
				</section>
				<section>
					<h2>The problem</h2>
					<p>More and more small bits of logic get added to each VCL</p>

				</section>
				<section>
					<h2><em>"It works fine in dev"</em></h2>
				</section>
				<section>
					<h2>Our solution</h2>
					<p>Compare all the different VCLs running in each environment and find the similarities and differences.</p>
				</section>
				<section>
					<h2>master.vcl</h2>
					<ul>
						<li>Contains all our custom bits of logic.</li>
						<li>Used across all environments.</li>
						<li>Pulls in environment-specific files.</li>
					</ul>
				</section>
				<section>
					<h2>Main things which vary</h2>
					<ul>
						<li>Backends</li>
						<li>Access Control</il>
				</section>
				<section>
					<h2>Backends</h2>
				</section>
				<section>
					<h3>Use Puppet DB to find the web nodes</h3>
					<p class='cite'>included in puppet manifest</p>
						<pre><code>$webhosts = query_facts("env=${env} and Apache",['hostname','ipaddress'])</code></pre>
				</section>
				<section>
					<h3>Puppet Template</h3>
					<p class='cite'>template for backend-nodes.vcl</p>
					<pre><code data-trim>
<% @webhosts.sort.map do |fqdn,host| -%>
	backend <%= host['hostname'] %>	{ .host = "<%= host['ipaddress'] %>"; .probe = healthcheck; }
<% end -%>
</code></pre>
				</section>
				<section>
					<h3>Using a director</h3>
					<p class='cite'>template for backend-pools.vcl</p>
					<pre><code data-trim>
include "backend-nodes.vcl";
director primarypool random {
	<%- @webhosts.sort.map do |fqdn,host|-%>
	 	{ .backend = <%= host['hostname'] %>; .weight = 100; }
	<%- end -%>
}
</code></pre>
				</section>
				<section>
					<h3>Using different healthchecks for the same backend</h3>
					<p class='cite'>template for backend-nodes.vcl</p>
					<pre><code data-trim class='ruby' style='word-wrap:inherit'>
<% @webhosts.sort.map do |fqdn,host| -%>	
	backend <%= host['hostname'] %>           { .host = "<%= host['ipaddress'] %>"; .probe = healthcheck; }
	backend <%= host['hostname'] %>isnearby   { .host = "<%= host['ipaddress'] %>"; .probe = healthchecknearby; }
	backend <%= host['hostname'] %>nearmaster { .host = "<%= host['ipaddress'] %>"; .probe = healthchecknearmaster; }
	backend <%= host['hostname'] %>failsafe   { .host = "<%= host['ipaddress'] %>"; }
<% end -%>
</code></pre>
				</section>
				<section>
					<h3>Using multiple directors</h3>
					<p class='cite'>template for backend-pools.vcl</p>
					<pre><code data-trim>
include "backend-nodes.vcl";
director primarypool random {
	<%- @webhosts.sort.map do |fqdn,host|-%>
	 	{ .backend = <%= host['hostname'] %>isnearby; .weight = 100; }
	<%- end -%>
}
director secondarypool random {
    <%- @webhosts.sort.map do |fqdn,host|-%>
    { .backend = <%= host['hostname'] %>; .weight = 100; }
    <%-	end -%>
}
director fallbackpool random {
    <%- @webhosts.sort.map do |fqdn,host|-%>
    { .backend = <%= host['hostname'] %>failsafe; .weight = 100; }
    <%-	end -%>
}
director adminpool fallback {
    <%- @webhosts.sort.map do |fqdn,host|-%>
    { .backend = <%= host['hostname'] %>nearmaster; }
    <%-	end -%>
    <%- @webhosts.sort.map do |fqdn,host|-%>
    { .backend = <%= host['hostname'] %>failsafe; }
    <%- end -%>
}
</code></pre>
				</section>
				<section>
					<h2>How we use backends</h2>
					<p class='cite'>master.vcl</p>
					<pre><code data-trim>
include "backend-pools.vcl";

sub vcl_recv {

	set req.backend = primarypool;
	set req.grace = 0s;

	if (!req.backend.healthy) {
		set req.backend = secondarypool;
		set req.grace = 0s;

	 	if (!req.backend.healthy) {
			set req.backend = fallbackpool;
			set req.grace = 0s;
	 	}
	}
}

					</code></pre>
				</section>
			<section>
				<h2>Cache Invalidation</h2>
				<p>Use the same puppetDB trick, but modified slightly</p>
				<p class='cite'>included in puppet manifest</p>
				<pre><code>$varnishnodes = query_facts("env=${env} and Varnish",['hostname','ipaddress'])</code></pre>
				<p class='cite'>template for purge-varnish.sh</p>
				<pre><code data-trim>
#!/bin/bash
<% @varnishnodes.sort.map do |fqdn,host| -%>
	echo 'ban.url .*' | nc <%= host['hostname'] %> 6082 >/dev/null
<% end -%>
</code></pre>
				</section>
			<section>
				<h2>Access Control</h2>
			</section>
			<section>
				<h3>Store access control in hiera</h3>
				<p class='cite'>fallback.yaml</p>
<pre><code data-trim>
allowedusers: |

	/* The public - all IPv4 traffic */
	"0.0.0.0" / 0;
</code></pre>
			</section>
			<section>
				<h3>Override for specific environments</h3>
				<p class='cite'>dev.yaml</p>
<pre><code data-trim>
allowedusers: |

	/* Trust myself */
  	"localhost";

  	/* Trust private IP addresses. */
  	"10.0.0.0"/8;
  	"192.168.0.0"/16;
  	"172.16.0.0"/16;

  	/* Trust Rob who is working from home on a static IP address */
  	"1.2.3.4";
</code></pre>
			</section>
			<section>
				<h3>Write the ACL</h3>
				<p class='cite'>included in puppet manifest</p>
				<pre><code>$allowedusers = hiera('allowedusers')</code></pre>
				<p class='cite'>template for access-control.vcl</p>
<pre><code data-trim>
acl allowedusers {
	<%= @allowedusers %>
}
</code></pre>
			</section>

				<section class='logo-title dark-background' data-background='css/theme/ftlabs_images/purple-blue-2.jpg'>
					<h1>Thanks!</h1>
					<h3>Contact:</h3>
					<ul>
						<li>Slides: <a href="http://lucas42.github.io/talk-varnishenvironments/#/">http://lucas42.github.io/talk-varnishenvironments/</a></li>
						<li>Email: <a href='mailto:luke@labs.ft.com'>luke@labs.ft.com</a></li>
						<li>Twitter: <a href='http://twitter.com/@lucas42'>@lucas42</a>, <a href='http://twitter.com/@ftlabs'>@ftlabs</a></li>
					</ul>
				</section>
			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>
			Reveal.initialize({
				width: 1280,
    			height: 800,
				controls: false,
				progress: true,
				history: true,
				center: true,
				theme: 'ftlabs',
				transition: 'concave',
				backgroundTransition: 'slide',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});
			Reveal.addEventListener('slidechanged', function(e) {
				if (e.currentSlide.classList.contains('big-quote')) {
					var h2 = e.currentSlide.querySelector('h2');
					if (h2 && !e.currentSlide.querySelector('span.bghead')) {
						var bgh2 = document.createElement('span');
						bgh2.classList.add('bghead');
						bgh2.innerHTML = h2.innerHTML;
						h2.parentNode.appendChild(bgh2);
					}
				}
			});

			// Fastclick demo
			(function() {
				var fc = document.querySelector('.fastclick-demo');
				var pointer = document.querySelector('.pointer');
				var pointer_size = (pointer.offsetWidth/2);
				var timers = {};
				fc.addEventListener('click', function(e) {
					if (timers[e.target]) clearTimeout(timers[e.target]);
					timers[e.target] = setTimeout(function() {
						e.target.classList.toggle('selected');
					}, e.target.parentNode.classList.contains('slow') ? 300 : 0);
					console.log('Mouse position', e.x, e.y);
					pointer.style.top = (e.y-pointer_size)+'px';
					pointer.style.left = (e.x-pointer_size)+'px';
					pointer.style.opacity = 0.7;
					if (timers.pointer) clearTimeout(timers.pointer);
					timers.pointer = setTimeout(function() {
						pointer.style.opacity = 0;
					}, 150);
				});
			}());

			// Keyboard bindings for remote clicker
			document.body.addEventListener('keyup', function(e) {
				console.log(e);
			});
		</script>

	</body>
</html>
